.contenedor {
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0px 0px 0px 0px;
    border: 2px solid #100403;

}

.rojo {
    background-color: red;
    width: 200px;
    height: 200px;
}

.azul {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.verde {
    background-color: green;
    width: 200px;
    height: 200px;
}

p {
    color: white;
    text-align: center;
    margin: 50%;
}