body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 65px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+43,207cca+61,207cca+61,7db9e8+100 */
    background: linear-gradient(135deg, rgb(30, 87, 153) 0%, rgb(41, 137, 216) 43%, rgb(32, 124, 202) 61%, rgb(32, 124, 202) 61%, rgb(125, 185, 232) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.cara {
    border-radius: 500px;
    height: 200px;
    box-shadow: 5px 5px 5px black;
}

.uno {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    background-color: #303030;
    color: white;
    /* padding-top: 10%; */
}

.caja-central {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
}

.caja-cara {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #424242;
}

.caja-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #f2f2f2;
    color: #303030;
    padding: 10px;
}

.dos {
    background-color: #f2f2f2;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    padding-left: 20%;
    padding-right: 20%;
}

.texto {
    column-count: 2;
    column-gap: 30px;
    column-rule: 3px outset #000000;
}

.aptitudes {
    width: 50%;
}

.tech-list {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.tech {
    height: 90px;
}

.tres {
    background-color: #303030;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: #f2f2f2;
    padding-left: 20%;
    padding-right: 20%;
}

.proyecto {
    width: 70%;
}

.contacto {
    background-color: #424242;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #f2f2f2;
    padding-left: 20%;
    padding-right: 20%;
}

.iconos {
    display: flex;
    justify-content: space-between;
    padding-top: 20%;
    height: 60px;
}